@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,100;1,400;1,700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: #0fb8e0;
  --primary-dark: #0d2154;
}

span {
  color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
.container {
  max-width: 1240;
  margin: auto;
}

button {
  padding: 0.7rem 1.5rem;
  margin: 1rem 0;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  font-size: 500;
  cursor: pointer;
  display: flex;
  border-radius: 4px;
}

button:hover {
  background-color: #47dcff;
  border: 1px solid #47dcff;
}

@media screen and (max-width: 940px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}
